<div class="row">
    <%= form_for(:session, url: login_path) do |f| %>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.email_field :email, autocomplete: true %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, autocomplete: true %>
          </div>
        </div>
      <%= f.submit 'ログイン', class: 'waves-effect waves-light btn' %>
    <% end %>
    </form>
    <p>まだ登録してない人はこちらからどうぞ <%= link_to '登録!', signup_path %></p>
  </div>