<div class="text-center">
  <h2>クラシファイド投稿</h2>
</div>

  <%= form_for(@classified) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    
    <div class="input-field col s12">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, autocomplete: true %>
    </div>
    <div class="input-field col s6 m6">
      <%= f.collection_select :area_id, Area.all, :id, :name, prompt: "エリア" %>
    </div>
    <div class="input-field col s6 m6">
      <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "カテゴリー" %>
    </div>
    <div class="file-field input-field col s12">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="1つ目の写真を選択">
      </div> 
        <%= f.file_field :image_1 %>
    </div>
    
    <div class="file-field input-field col s12">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="２つ目の写真を選択">
      </div> 
        <%= f.file_field :image_2 %>
    </div>
    
    <div class="file-field input-field col s12">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="3つ目の写真を選択">
      </div> 
        <%= f.file_field :image_3 %>
    </div>
    
    <div class="file-field input-field col s12">
      <div class="btn">
        <span>File</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="4つ目の写真を選択">
      </div> 
        <%= f.file_field :image_4 %>
    </div>
    <div class="input-field col s12">
      <%= f.label :content, '本文', class: 'active' %>
      <%= f.text_area :content, autocomplete: true, class: "materialize-textarea" %>
    </div>
    <div class="input-field col s12">
      <label>
        <%= f.check_box :agreement, :as => :boolean, checked:false %>
        <span><%= link_to "利用規約", term_path %>と<%= link_to "プライバシーポリシー", policy_path %>に同意する</span>
      </label>
      <br>
    </div>
    <div class="input-field col s12">
      <%= f.submit '投稿', class: 'waves-effect waves-light btn white-text' %>
    </div>
    
  <% end %>
