<div class="col s12 m9 push-m3">
  
  <div class="card">
    <div class="card-content">
      <span class="card-title"><%= @classified.title %></span>
      <div class="card-image">
        <% if @classified.image_1? %>
        <div class="slider">
          <ul class="slides">
            <li>
              <%= image_tag @classified.image_1.url.to_s, class: "materialboxed" %>
            </li>
            <% if @classified.image_2? %>
            <li>
              <%= image_tag @classified.image_2.url.to_s, class: "materialboxed" %>
            </li>
            <% end %>
            <% if @classified.image_3? %>
            <li>
              <%= image_tag @classified.image_3.url.to_s, class: "materialboxed" %>
            </li>
            <% end %>
            <% if @classified.image_4? %>
            <li>
              <%= image_tag @classified.image_4.url.to_s, class: "materialboxed" %>
            </li>
            <% end %>
          </ul>
          
        </div>
        <% end %>
        <p><span class="badge">更新日：<%= @classified.updated_at %></span><span class="new badge red" data-badge-caption=""><%= @classified.category.name %></span><span class="new badge blue" data-badge-caption=""><%= @classified.area.name %></span></p>
        
        <p class="post_content">
          内容：<br><br>
          <%= @classified.content %>
        </p>
        <div class="card_content">
          投稿者：<%= @classified.user.name %>
        </div>
      </div>
    </div>
    <div class="card-action">
      <%= link_to '<i class="material-icons right">send</i>メール'.html_safe, classified_inquiry_path(@classified), class: "waves-effect waves-light btn" %>
      <% if current_user == @classified.user %>
        <%= link_to '編集', edit_classified_path(@classified), class: "waves-effect waves-light btn current_user_btn blue" %>
        <%= link_to '削除', @classified, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "waves-effect waves-light btn current_user_btn red" %>
      <% end %>
    </div>
  </div>
</div>
<div class="col s12 m3 pull-m9">
  <%= render 'layouts/sidebar' %>
</div>
