<h2>お問い合わせフォーム</h2>
<%= form_for @inquiry, :url => classified_inquiry_confirm_path(@classified) do |f| %>
  <% if @inquiry.errors.any? %>
    <div class="error">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.each do |attr, msg| %>
          <li>
            <script type="text/javascript">
            M.toast({html: '<%= msg %>', classes: 'rounded #0288d1 light-blue darken-2'})
            </script>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-field col s12">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, autocomplete: true %>
  </div>
  <div class="input-field col s12">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.text_field :email, autocomplete: true %>
  </div>
  <div class="input-field col s12">
    <%= f.label :message, '内容' %>
    <%= f.text_area :message, autocomplete: true, class: "materialize-textarea" %>
  </div>
  <%= f.submit '確認', class: 'waves-effect waves-light btn white-text' %>
<% end %>