<% if logged_in? %>
<ul id="dropdown1" class="dropdown-content red darken-1">
  <% if current_user.admin_flag? %>
    <li><%= link_to 'Admin', admin_users_path, class: "grey-text text-lighten-3" %></li>
  <% else %>
    <li><%= link_to 'プロフィール', user_path(current_user), class: "grey-text text-lighten-3" %></li>
  <% end %>
  <li><%= link_to 'ログアウト', logout_path, method: :delete, class: "grey-text text-lighten-3" %></li>
</ul>
<% end %>
<nav>
  <div class="nav-wrapper red grey-text text-lighten-3">
    <a href="http://cloud-calgary.com/" class="brand-logo">Cloud Calgary</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if logged_in? %>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
      <% else %>
        <li><%= link_to '登録', signup_path %></li>
        <li><%= link_to 'ログイン', login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <% if logged_in? %>
    <li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><%= current_user.name %><i class="material-icons">arrow_drop_down</i></div>
          <div class="collapsible-body">
            <ul>
              <% if current_user.admin_flag? %>
                <li><%= link_to 'Admin', admin_users_path %></li>
              <% else %>
                <li><%= link_to 'プロフィール', user_path(current_user) %></li>
              <% end %>
              <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to '登録', signup_path %></li>
    <li><%= link_to 'ログイン', login_path %></li>
  <% end %>
  <li>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>エリア</div>
        <div class="collapsible-body">
          <span>
            <ul>
              <li><%= link_to "全て", areas_path %></li>
              <li><%= link_to "ダウンタウン", area_path(id: 1) %></li>
              <li><%= link_to "NE", area_path(id: 2) %></li>
              <li><%= link_to "NW", area_path(id: 3) %></li>
              <li><%= link_to "SE", area_path(id: 4) %></li>
              <li><%= link_to "SW", area_path(id: 5) %></li>
            </ul>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">shopping_cart</i>カテゴリー</div>
        <div class="collapsible-body">
          <span>
            <ul>
              <li><%= link_to "全て", categories_path %></li>
          <li><%= link_to "売ります・買います", category_path(id: 1) %></li>
          <li><%= link_to "部屋", category_path(id: 2) %></li>
          <li><%= link_to "求人", category_path(id: 3) %></li>
          <li><%= link_to "コニュニティー", category_path(id: 4) %></li>
          <li><%= link_to "探す", category_path(id: 5) %></li>
            </ul>
          </span>
        </div>
      </li>
    </ul>
  </li>
</ul>


