<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>エリア</div>
    <div class="collapsible-body">
      <span>
        <ul>
          <li><%= link_to "全て", area_path(Area.all) %></li>
          <li><%= link_to "ダウンタウン", area_path(id: 1) %></li>
          <li><%= link_to "NE", area_path(id: 2) %></li>
          <li><%= link_to "NW", area_path(id: 3) %></li>
          <li><%= link_to "SE", area_path(id: 4) %></li>
          <li><%= link_to "SW", area_path(id: 5) %></li>
        </ul>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">shopping_cart</i>売ります・買います</div>
    <div class="collapsible-body">
      <span>
        <ul>
          <li><%= link_to "全て", category_path(id: 1) %></li>
          <li><%= link_to "車・バイク", item_path(id: 1) %></li>
          <li><%= link_to "家具", item_path(id: 2) %></li>
          <li><%= link_to "ファッシン", item_path(id: 3) %></li>
          <li><%= link_to "雑貨", item_path(id: 4) %></li>
          <li><%= link_to "子ども用品", item_path(id: 5) %></li>
          <li><%= link_to "本など", item_path(id: 6) %></li>
          <li><%= link_to "外貨交換", item_path(id: 7) %></li>
          <li><%= link_to "電化製品", item_path(id: 8) %></li>
          <li><%= link_to "食品", item_path(id: 9) %></li>
          <li><%= link_to "その他", item_path(id: 10) %></li>
        </ul>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">local_hotel</i>部屋</div>
    <div class="collapsible-body">
      <span>
        <ul>
          <li><%= link_to "全て", category_path(id: 2) %></li>
          <li><%= link_to "シェア・ルームメイト", item_path(id: 11) %></li>
          <li><%= link_to "ホームステイ", item_path(id: 12) %></li>
          <li><%= link_to "引き継ぎ", item_path(id: 13) %></li>
          <li><%= link_to "その他", item_path(id: 14) %></li>
        </ul>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">restaurant_menu</i>求人</div>
    <div class="collapsible-body">
      <span>
        <ul>
          <li><%= link_to "全て", category_path(id: 3) %></li>
          <li><%= link_to "レストラン", item_path(id: 15) %></li>
          <li><%= link_to "カフェ", item_path(id: 16) %></li>
          <li><%= link_to "ツアー", item_path(id: 17) %></li>
          <li><%= link_to "ビューティー", item_path(id: 18) %></li>
          <li><%= link_to "販売業", item_path(id: 19) %></li>
          <li><%= link_to "ベビーシッター", item_path(id: 20) %></li>
          <li><%= link_to "その他", item_path(id: 21) %></li>
        </ul>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">people</i>コミュニティー</div>
    <div class="collapsible-body">
      <span>
        <ul>
          <li><%= link_to "全て", category_path(id: 4) %></li>
          <li><%= link_to "英語", item_path(id: 22) %></li>
          <li><%= link_to "日本コミュニティー", item_path(id: 23) %></li>
          <li><%= link_to "スキル", item_path(id: 24) %></li>
          <li><%= link_to "趣味", item_path(id: 25) %></li>
          <li><%= link_to "その他", item_path(id: 26) %></li>
        </ul>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">searchr</i>探す</div>
    <div class="collapsible-body">
      <span>
        <ul>
          <li><%= link_to "全て", category_path(id: 5) %></li>
          <li><%= link_to "部屋", item_path(id: 27) %></li>
          <li><%= link_to "中古品", item_path(id: 28) %></li>
          <li><%= link_to "その他", item_path(id: 29) %></li>
        </ul>
      </span>
    </div>
  </li>
</ul>